<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add chapter</title>
    <link rel="stylesheet" href="/stylesheets/addchapter.css">
</head>

<body>
    <form action="addchapter" method="post" >
        <input type="number" placeholder="Chapter no" name="chapterno">
        <input type="text" placeholder="Chapter name" name="chaptername">
        <button type="submit">Add</button>
    </form>
</body>
</html>