<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add question</title>
    <link rel="stylesheet" href="/stylesheets/addquestion.css">
</head>

<body>
    <h2>Hello from add question page</h2>
    <form action="addquestion" method="post">
        <input type="text" placeholder="type year or mention as model question" name="year">
        <input type="text" placeholder="url" name="url">
        <button type="submit">Add</button>
    </form>
</body>

</html>