<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add syllabus</title>
    <link rel="stylesheet" href="/stylesheets/addsyllabus.css">
</head>

<body>
    <form action="addsyllabus" method="post">
        <input type="text" placeholder="syllabus or solution" name="syll">
        <input type="text" placeholder="url" name="url">
        <button type="submit">Add</button>
    </form>
</body>

</html>